* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: #b6b6b6;
    padding-top: 100px;
}

#nome {
    background-image: url(Imagens/Icon.png);
    background-size: 10px;
    background-repeat: no-repeat;
}

#tel {
    background-image: url(Imagens/Phone.png);
    background-size: 10px;
    background-repeat: no-repeat;
}

.container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

header {
    margin-bottom: 15px;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 50%;
}

.opened {
    animation: tableOpen 0.6s forwards;
    animation-timing-function: ease-in-out;
}

.opened1 {
    animation: open 0.3s forwards;
    animation-timing-function: ease;
}

@keyframes tableOpen {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(0.8, 0.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes open {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.5, 0.2);
    }

    100% {
        transform: scale(1, 1);
    }
}
