th {
    border-bottom: 1px rgba(0, 0, 0, 0.432);
    border-style: inset;
    border-width: 1px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0.5px;
}

#tag-color {
    max-width: 100px;
}

tbody td {
    text-align: center;
    align-items: center;
}

.desc {
    text-align: left;
    overflow: auto;
    max-width: ;
    padding: 5px;
    word-wrap: break-word;
}

